.gracias-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .titulo {
    font-size: 2.5rem;
    color: #ffcc00;
    margin-bottom: 20px;
  }
  
  .gracias-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 20px;
    border-radius: 15px; /* Bordes redondeados */
    background: linear-gradient(to bottom, #ffcc66, #ff9966); /* Degradado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin: auto;
    text-align: center;
  }
  
  .icono-verificacion {
    margin-bottom: 20px;
  }
  
  .gracias-card h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .btn-salir {
    background-color: #ffcc00;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .btn-salir:hover {
    background-color: #ffdd33;
  }
  