.transacciones {
  border-radius: 10px;
  padding: 20px;
  width: 350px;
  text-align: center;
  color: black;
  background-color: #f8d9c4;
}

.product-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.arrow-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
}

img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.checkbox {
  margin: 10px 0;
}

.btn-agregar, .btn-cancelar {
  background-color: #ffcc00;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  color: black;
}

.btn-agregar:hover {
  background-color: #ffdd33;
}
.btn-agregar img{
  margin-left: 10px; /* Espacio entre el texto y el ícono */
  width: 17px;
  height: 17px;
}
.btn-cancelar {
  background-color: white;
  border: 1px solid #ccc;
}

.btn-cancelar:hover {
  background-color: #f2f2f2;
}
