.transacciones {
  position: absolute;
  top: 128px; /* Y position */
  left: 329px; /* X position */
  width: 380px; /* Width */
  height: 407px; /* Height */
  padding: 20px;
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  margin: auto;
  color: black;
  text-align: center;
  background-color: #D9D9D9;
}

.product-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.arrow-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
}

img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

/* Centramos el contenido de contexto */
.contexto {
  text-align: center; /* Para centrar el texto */
  margin-bottom: 20px;
}
.contexto h3{
  color: black;
}
/* Estilos para el botón */
.btn-agregar{
  background-color: #FCD05F;
  opacity: 1;
  width: 209px;
  height: 63px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 100px;
  color: black;
  display: block;  /* Para que el botón sea un bloque y fácil de alinear */
  margin-left: auto;
  margin-right: auto; /* Centramos el botón */
}

.btn-agregar:hover {
  background-color: #ffdd33;
}

.btn-agregar img {
  margin-left: 10px; /* Espacio entre el texto y el ícono */
  width: 17px;
  height: 17px;
}

.btn-cancelar {
  background-color: white;
  border: 1px solid #ccc;
}

.btn-cancelar:hover {
  background-color: #f2f2f2;
}
