body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.transacciones {
  display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: stretch;
}

/* Estilos para los elementos del carrito */
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #868649;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

/* Estilos para botones */
.btn-agregar,
.btn-confirmar,
.btn-descuento,
.btn-aplicar,
.btn-finalizar {
  background-color: #ffcc00;
  border: none;
  padding: 10px 15px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* Hover para botones */
.btn-agregar:hover,
.btn-confirmar:hover,
.btn-descuento:hover,
.btn-aplicar:hover,
.btn-finalizar:hover {
  background-color: #ffdd33;
}

/* Estilos para inputs de texto */
input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

/* Estilo para el título */
h2 {
  color: #333;
}

/* Estilos para mensajes */
.mensaje {
  margin: 10px 0;
  color: green;
  font-weight: bold;
}
